body {
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  margin: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.overlay {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/animated water.gif');
  background-size: cover;


  display: flex;
  justify-content: center;
  align-content: center;

  z-index: 10;
}
.layer {
  background-color: rgba(82, 5, 5, 0.324);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.start-box {
  border: 30px groove rgba(31, 21, 255, 0.54);
  width: 80%;
  max-width: 900px;
  height: 50%;
  display: flex;
  background: #009fff;
  z-index: 11;

  align-self: center;
  margin:0;
}

.start-page-image {
  width: 100%;
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/shark fin gif.gif');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.start-page-image button {
  height: 20%;
  width: 30%;
  background-color: rgba(212, 0, 0, 0.753);
  font-family: 'Press Start 2P', cursive;
  font-size: larger;
  box-shadow: 5px 5px 0px 8px rgba(0, 0, 0, 0.6);
}

.start-page-image h3 {
  margin: 50px;
  animation: blinker 1.5s infinite;
  color: rgb(255, 255, 2);
  font-size: large;
}
@keyframes blinker {
  0% {
    opacity: 100;
  }
  60% {
    opacity: 0;
  }
}
.entering {
  animation: slide-out-elliptic-top-bck 1s ease-in both;
}

@keyframes slide-out-elliptic-top-bck {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}




.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/background.gif');
  margin-bottom: 5%;
}

.header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 111, 0, 0.975);
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.6) 0%, rgba(6, 6, 122, 0.4) 30%, rgba(0, 212, 255, 0.4) 100%);
}

section {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 40%;
  width: 10%;
  background-color: rgba(212, 0, 0, 0.753);
  box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.6);
  font-family: 'Press Start 2P', cursive;
}
.how-to-btn {
  font-size: 100%;
}

.title h1 {
  margin-top: 50px;
}

.lives-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.hearts {
  height: 50px;
}

#lives-counter {
  font-size: 125%;
  display: flex;
}

.game-grid {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgb(174, 238, 230);
  background: radial-gradient(circle, rgba(174, 238, 230, 0.4) 0%, rgba(0, 99, 255, 0.4) 100%);
  border: 13px double #004D94;
  border-radius: 6px;
}

.game-grid div {
  flex-shrink: 1;
  min-width: 5%;
  min-height: 4%;
  font-size: 10px;
  color: rgb(255, 191, 0);
  text-align: center;
}

.wall {
  background-size: 350%;
  background-position: center;
  /* background-image: url('https://lh3.googleusercontent.com/proxy/J_cDEKYfyflGXo6zYGm8L7fEjaZHBfRUxWRA_K6yNSunDrJpURLvp9r-Z-RMcmnKKcvhowNezVTWZNXxtFr4NCGCvVB7o3CH'); */
  background-color: rgba(9, 63, 1, 0.5);
}

.cage-wall{
  border-top:solid rgba(255, 89, 0, 0.6);
}



.power-up {
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/power up turtle.gif');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.food {
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/fish.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}


.bruce {
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/shark gif.gif');
  background-repeat: no-repeat;
  background-size: 87%;
  background-position: center;
  /* transform: scaleX(-1); */
  
}

.enemyOnSquare {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quint {
  background-image: url('https://media2.giphy.com/media/S5hCfLDrJX2rYI5rjc/source.gif');
  background-size: 100%;
}

.shamu {
  background-size: 85%;
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/shamu.gif');
}

.squid {
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/squid 2.gif');
  background-size: 80%;
}

.flipper {
  background-image: url('/Users/sami/Development/PROJECTS/sei-project-one/v1/Project 1 assets/whale gif.gif');
  background-size: contain;
}

.swim-right {
  transform: scaleX(-1);
}

.swim-left {
  transform: scaleX(1);
}

.swim-up {
  transform: rotate(90deg);
}

.swim-down {
  transform: rotate(-90deg);
}


.edible {
  background-color: red;
}


 @keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* .intersection {
  background-color: rgba(153, 0, 255, 0.6);
} */