body {
  height: 100vh;
  font-family: 'Reggae One', cursive;
}

.header {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image {
  height: 50%;
}

#title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  height: 600px;
  width: 900px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

h3 {
  display: flex;
  justify-content: center;
}

.game-grid div {
  border: 1px solid lightcoral;
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

body {
  background-color: gray;
}

 * {
  border: black solid 1px;
}