body{
  height: 100vh;
  font-family: 'Reggae One', cursive;
}

.header{
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image{
  height: 50%;
}

#title{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center ;
}

.game-container{
  display: flex;
  justify-content: center;
}
.game-grid{
  width: 85%;
  height: 60vh;
  paff  ;
}


h3{
  display:flex;
  justify-content: center;
}


 *{
  border: black solid 1px;
  
}
